* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --m-violet-color: hsl(263, 55%, 52%);
  --very-dark-grayish-b-color: hsl(217, 19%, 35%);
  --very-dark-blackish-b-color: hsl(219, 29%, 14%);
  --white-color: hsl(0, 0%, 100%);
  --light-grey-color: hsl(0, 0%, 81%);
  --light-grayish-blue-color: hsl(210, 46%, 95%);
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  width: 100vw;
  background-color: var(--light-grayish-blue-color);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 1370px;
  gap: 30px;
  grid-template-rows: 1fr 1fr;
  max-height: 600px;
}

.person {
  background-color: var(--m-violet-color);
  position: relative;
  padding: 25px 35px;
  border-radius: 12px;
  max-width: 670px;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 100%;
  padding-bottom: 35px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#person1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.user-section {
  display: flex;
  height: fit-content;
  align-items: center;
}

.user-info {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.user-name {
  color: var(--light-grayish-blue-color);
  font-size: 15px;
}

.user-verif {
  color: var(--light-grayish-blue-color);
  opacity: 0.5;
  font-size: 12px;
  margin-top: 3px;
}

.main-p {
  color: var(--white-color);
  font-size: 25px;
  z-index: 19;
  display: block;
  margin-top: 10px;
  position: relative;
}

.second-p {
  color: var(--light-grayish-blue-color);
  opacity: 0.5;
  margin-top: 20px;
  display: block;
  font-size: 17px;
  line-height: 1.3;
}

#person2 {
  background-color: var(--very-dark-grayish-b-color);
  grid-row-start: 1;
  grid-row-end: 2;
  height: 100%;
}

#jonathan-second-p {
  font-size: 17px;
}

#person3 {
  background-color: var(--white-color);
  grid-row-end: 3;
}

#kira-user-name {
  color: var(--very-dark-grayish-b-color);
}

#kira-verif {
  color: var(--light-grey-color);
  opacity: 1;
}

#kira-main-p {
  color: var(--very-dark-grayish-b-color);
  font-weight: bold;
  font-size: 27px;
}

#kira-second-p {
  color: gray;
  opacity: 1;
  font-size: 17px;
  line-height: 1.2;
}

#person4 {
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: var(--white-color);
}

#jeanette-second-p {
  color: gray;
  opacity: 1;
  font-size: 16px;
}

#person5 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: var(--very-dark-blackish-b-color);
}

#patrick-second-p {
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 35px;
}